body{
  box-sizing: content-box;
  font-family: arial sans-serif;
  display:flex;
  font-size:16px;
  line-height: 32px;
}

.main{
  margin: 0 auto;
  background:#826c6c;
  width:90%;
  padding-bottom: 15px;
}

.header{
  width: 100%
  height: 100px;
}
.header h1{
  text-align: center;
  letter-spacing: 2px;
  font-weight: 900;
  color:white;
  display: inline-block;



}

.header ul{
  display:inline-block;
  margin:0;
  margin-right:10px;
  list-style: none;
}

.header ul li{
  display: inline;
}
.body{
  width:100%

}
.body .section{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background:#4343c3;
  padding:10px;


}
.body .section img{
  height:40px;
  width:32px;
  margin:0px;
  display:inline;
  float:left;
}
.body .section .user{
  display:inline-block;
  text-align:center;
  color:yellow;
  margin:0 auto;
  margin-left: 30vw;
}
.body .section .user:hover{
  text-decoration: underline;
  cursor:pointer;
}
.body .section .status{
  display:inline-block;
  float:right;
  margin:0 auto;
  margin-right:20px;
  font-family: 'cursive';
  color:#d8d2d2;

}

@media only screen and (max-width: 750px)  {
  .body .section .user{
    display:block;
    text-align:center;
    margin:0 auto;
    float:none;
    margin-left:18vw;
    /*margin-left: 75vw;*/
  }
  .body .section .status{
    display:block;
    text-align:center;
    display:block;
    float:none;
    margin-left:20vw;


  }
  .header ul li{
    display: list-item;
    margin:0;
  }
  body{

  }
}
